<!DOCTYPE html>
<html lang="en">
{{> /include/header}}

  <body>
    {{> /include/navigation}}

	<div class="container">
		{{#question}}
		<form action="/questions" method="post">
			<div class="form-group">
				<label for="title">제목</label>
				<input type="text" class="form-control" id="title" name="title"  value="{{title}}" placeholder="title">
			</div>
			<div class="form-group">
				<label for="contents">내용</label>
				<input type="text" class="form-control" id="contents" name="contents"  value="{{contents}}" placeholder="title">
			</div>
			<a href="/questions/{{id}}/form" class="btn btn-success" role="button">수정하기</a>
		</form>
		<form action="/questions/{{id}}" method="post">
			<input type="hidden" name="_method" value="delete" />
			<button type="submit" class="btn btn-default">삭제하기</button>
		</form>
		{{/question}}
	</div>
	{{> /include/footer}}

  </body>
</html>
